@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}

.navbar h1 {
  color: coral;
}

.navbar .links {
  margin-left: auto;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

.navbar a:hover {
  color: coral;
}

.navbar a:last-child {
  color: white;
  background-color: coral;
  border-radius: 9px;
}

.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

/* blog preview */
.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}

.blog-preview a {
  text-decoration: none;
}

.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.blog-preview h3 {
  font-size: 20px;
  color: coral;
  margin-bottom: 8px;
}

.blog-preview span {
  font-size: 13px;
  font-style: italic;
  display: inline-block;
  margin-bottom: 8px;
}

.blog-preview button {
  border: none;
  border-radius: 10px;
  background-color: slategray;
  color: #fafafa;
  padding: 8px;
  margin-top: 10px;
  outline: none;
}

.blog-preview button:hover {
  background-color: #cf1212;
  cursor: pointer;
}

.loading {
  text-align: center;
  font-size: 30px;
  color: tomato;
}

.error {
  color: #cf1212;
  font-size: 20px;
  font-weight: 500;
  font-style: italic;
  text-align: center;
}

.blog-details h2 {
  font-size: 20px;
  color: coral;
  margin-bottom: 10px;
}

.blog-details div {
  margin: 20px 0;
}

.blog-details button {
  background: coral;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 30px;
  outline: none;
}

.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

.create label {
  text-align: left;
  display: block;
}

.create h2 {
  font-size: 20px;
  color: coral;
  margin-bottom: 30px;
}

.create input,
.create textarea,
.create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  box-sizing: border-box;
  outline: none;
}

.create button {
  background: coral;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  outline: none;
}

.not-found {
  text-align: center;
  padding-top: 30px;
}

.not-found h2,
p {
  padding-bottom: 20px;
}

.not-found h2 {
  font-size: 50px;
  color: rgba(0, 0, 0, 0.1);
}

.not-found p {
  font-size: 20px;
}

.not-found button {
  margin-top: 20px;
  outline: none;
  padding: 9px;
  border-radius: 8px;
  border: none;
  color: #fff;
  background: coral;
  cursor: pointer;
}
